* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html.locked,
body.locked {
  overflow: hidden;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  width: 100%;
}

.section {
  height: 100vh;   /* full screen */
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
