
.title-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #081262;
  position: relative;
  overflow: hidden;
}

.title-page::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
  opacity: 0.10;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.5' numOctaves='5' stitchTiles='stitch'/%3E%3CfeComponentTransfer%3E%3CfeFuncA type='discrete' tableValues='0 0 0 1 1 1'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' fill='%23ffffff'/%3E%3C/svg%3E");
}


.title-content {
  text-align: center;
  color: white;
  font-family: 'EB Garamond', serif;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.title-content h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 6rem;
  margin: 0;
}

.title-content p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.instruction {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  line-height: 1;
  opacity: 0.75;

}

.scroll-icon {
  width: 24px;
  height: 24px;
}

.scroll-icon path {
  stroke: white;
}

.circle-layer {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.circle-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
}
